<div id="greetings">
  <%=image_tag("Russell.png", class: "avatar", alt: "avatar")%>
</div>

<div id="info">
  <h1>Hi, Russell!</h1>
  <h2>Need some help picking up?</h2>
  <form action="">
    <h2>Your pickup address: <input type="text" name="address" value=""><br></h2>
    <h2>Choose your store: <input type="text" name="store" value=""><br></h2>
    <div class="quote">
    <h2> <a>Get your quote: </a> USD </h2>
    </div>
  </form>
  <div class='buttons'>
  <%= link_to button_tag("Upload Prescription"), orders_path %>
  </div>
</div>


<div id="time">
  <h3>30</h3>
  <h4>MINS</h4>
  <%= link_to button_tag("Request Delivery"), orders_path %>
</div>
